In [4]:
import numpy as np
import pandas as pd

a=np.random.rand(6)
a

array([0.30546339, 0.95159081, 0.45332563, 0.39092297, 0.38427288,
       0.36951693])

In [5]:
type(a)

numpy.ndarray

In [6]:
my_series=pd.Series(a)
my_series

0    0.305463
1    0.951591
2    0.453326
3    0.390923
4    0.384273
5    0.369517
dtype: float64

In [7]:
type(my_series)

pandas.core.series.Series

In [8]:
my_series=pd.Series(a,index=['1.','2.','3.','4.','5.','6.'])
my_series

1.    0.305463
2.    0.951591
3.    0.453326
4.    0.390923
5.    0.384273
6.    0.369517
dtype: float64

In [9]:
#converting array to dataframe

array_2d=np.random.rand(2,3)
array_2d

array([[0.26883101, 0.1251898 , 0.64419987],
       [0.65387277, 0.45110875, 0.12080543]])

In [10]:
type(array_2d)

numpy.ndarray

In [12]:
my_dataframe=pd.DataFrame(array_2d)
my_dataframe

          0         1         2
0  0.268831  0.125190  0.644200
1  0.653873  0.451109  0.120805

In [13]:
my_dataframe.columns

RangeIndex(start=0, stop=3, step=1)

In [14]:
my_dataframe.columns=['First','Second','Third']
my_dataframe

      First    Second     Third
0  0.268831  0.125190  0.644200
1  0.653873  0.451109  0.120805

In [17]:
#Loading file to pandas
df=pd.read_csv('artwork_data.csv',nrows=5)
df

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [20]:
#cleansing the data
df=pd.read_csv('artwork_data.csv',nrows=5,index_col='id')
df

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [23]:
# Select only id,artist column

df=pd.read_csv('artwork_data.csv',nrows=5,index_col='id',usecols=['id','artist'])
df

              artist
id
1035   Blake, Robert
1036   Blake, Robert
1037   Blake, Robert
1038   Blake, Robert
1039  Blake, William

In [24]:
# If want to add 5 more columns

columns=['id','artist','title','medium','year']
df=pd.read_csv('artwork_data.csv',nrows=5,index_col='id',usecols=columns)
df

,artist,title,medium,year
id,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785.0
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826.0

In [31]:
#saving the file
df.to_pickle('C:/Python/tempfile.pickle')

In [33]:
#filtering
df[['artist','title']]

              artist                                              title
id
1035   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...

In [34]:
#avoid duplicates
artists=df['artist']
print(pd.unique(artists))

['Blake, Robert' 'Blake, William']

In [35]:
print(len(pd.unique(artists)))

2